$fontColor: #E5E5E5;
$bgColor: #0C734E;

body {
  background-color: $bgColor;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@font-face {
  font-family: textFont;
  src: url(./fonts/dogica/TTF/dogicapixel.ttf);
}

@font-face {
  font-family: titleFont;
  src: url(./fonts/press-start-2p/PressStart2P.ttf);
}

.huge, .medium, .small {
  font-family: titleFont;
  color: $fontColor;
}

.huge {
  font-size: 37px;
  margin: 0 auto;
}

p {
  font-family: textFont;
  color: $fontColor;
  font-weight: bold;
}

.screen-main {
  border: 5px solid $fontColor;
  min-width: 150vh;
  min-height: 80vh;
}

.start-screen-containter {
  width: 100%;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-screen-header {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 40px 0px;
  // justify-content: center;
}

.sections-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.job-tracker-section, .job-journal-section, .job-interview-section {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-tracker-section:hover {
  background-color: $fontColor;
  cursor: pointer;
}

.job-journal-section:hover {
  background-color: $fontColor;
  cursor: pointer;
}

.job-interview-section:hover {
  background-color: $fontColor;
  cursor: pointer;
}

.job-card-image {
  min-width: 190px;
  min-height: 190px;
  border: 5px solid $fontColor;
}

.job-hunter-png-container {
  width: 80%;
  text-align: center;
}

.job-hunter-png {
  width:20%;
  margin-bottom: 20px;
}



