$fontColor: #E5E5E5;
$bgColor: #0C734E;
$lineHeightHuge: "line-height: 40px";



Link {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

body {
  background-color: $bgColor;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-align {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.buttons {
  background-color: $bgColor;
  border: 3px solid $fontColor;
  width: 150px;
  height: 40px;
  cursor: pointer;
  &:hover {
    background-color: $fontColor;
    color: $bgColor;
    outline: none;
  }
}

.back-buttons {
  background-color: $bgColor;
  border: 3px solid $fontColor;
  width: 50px;
  height: 40px;
  cursor: pointer;
  &:hover {
    background-color: $fontColor;
    color: $bgColor;
    outline: none;
  }
}


@font-face {
  font-family: textFont;
  src: url(./fonts/dogica/TTF/dogicapixel.ttf);
}

@font-face {
  font-family: titleFont;
  src: url(./fonts/press-start-2p/PressStart2P.ttf);
}

.huge, .medium, .small {
  font-family: titleFont;
  color: $fontColor;
}

.font-huge, .font-medium, .font-small {
  font-family: textFont;
  color: $fontColor;
}

.huge, .font-huge {
  font-size: 33px;
  margin: 0 auto;
}

.medium, .font-medium {
  font-size: 23px;
  margin: 0 auto;
}

.small, .font-small {
  font-size: 13px;
  margin: 0 auto;
}

p {
  font-family: textFont;
  color: $fontColor;
  font-weight: bold;
}

.screen-main {
  border: 5px ridge $fontColor;
  min-width: 150vh;
  max-width: 0vh;
  min-height: 80vh;
}

.start-screen-containter {
  width: 100%;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.job-tracker-form-container {
  width: 100%;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-screen-header {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 40px 0px;
  // justify-content: center;
}

.sections-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

// .job-tracker-section, .job-journal-section, .job-interview-section {
//   width: 200px;
//   height: 230px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.job-tracker-card-medium {
  width: 200px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.job-card-image-medium {
  min-width: 150px;
  min-height: 150px;
  border: 5px solid $fontColor;
}

.job-card-image-medium:hover {
  background-color: $fontColor;
  cursor: pointer;
}

.job-tracker-card-big {
  max-width: 500px;
  min-width: 300px;
  max-height: 500px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-card-image-big {
  min-width: 250px;
  min-height: 250px;
  border: 5px solid $fontColor;
}

.job-card-image-big:hover {
  background-color: $fontColor;
  cursor: pointer;
}

.job-card-image-big:hover {
  background-color: $fontColor;
  cursor: pointer;
}

.job-hunter-png-container {
  width: 80%;
  text-align: center;
}

.job-hunter-png {
  width:20%;
  margin-bottom: 20px;
}

// JOB TRACKER MAIN

.tracker-main-screen-containter {
  width: 100%;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tracker-sections-container {
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// JOB TRACKER FORM

.job-tracker-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.job-tracker-select-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  select {
    margin: 10px 0px;
    padding: 5px;
    width: 150px;
    background-color: $bgColor;
    border: 1px solid $fontColor;
  }
}

.job-tracker-relevance-select, .job-tracker-status-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  outline: none;
}


.input-bar {
  font-family: textFont;
  background-color: $bgColor;
  border: 3px solid $fontColor;
  height: 19px;
  width: 90vh;
  outline: none;
  padding: 5px 15px;
}

.job-tracker-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

// TRACKED JOBS

.tracked-jobs-container {
  width: 100%;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pages-header-huge {
  height: 9vh;
  width: 80%;
  display: flex;
  align-items: flex-end;
}

.job-tracker-overscroll-container {
  height: 50vh;
  width: 80%;
  overflow: scroll;
  padding: 1rem 1rem;
  border: 5px ridge $fontColor;
}

.job-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.job-card {
  width: 47vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: space-around;
  img {
    width: 70%;
  }
  div {
    margin: 0.5rem 0rem;
  }
  .medium {
    line-height: 33px;
  }
}

.job-display-block {
  margin: 2rem 0rem;
}

// MODAL

.modal-container {
  position: absolute;
  width: 93vh;
  height: 59vh;
  background-color: $bgColor;
  border: 5px ridge $fontColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h1 {
    width: 70%;
    text-align: center;
    line-height: 41px;
  }

}

.modal-buttons-container {
  display: flex;
  width: 70vh;
  height: 23vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-button-card {
  max-height: 210px;
  min-height: 130px;
  width: 150px;
  .font-small {
    padding-top: 10px;
    line-height: 17px;
  }

}
