$fontColor: #E5E5E5;
$bgColor: #0C734E;

body {
  background-color: $bgColor;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons {
  background-color: $bgColor;
  border: 3px solid $fontColor;
  width: 150px;
  height: 40px;
}

.buttons:hover {
  background-color: $fontColor;
  color: $bgColor;
  outline: none;
}

@font-face {
  font-family: textFont;
  src: url(./fonts/dogica/TTF/dogicapixel.ttf);
}

@font-face {
  font-family: titleFont;
  src: url(./fonts/press-start-2p/PressStart2P.ttf);
}

.huge, .medium, .small {
  font-family: titleFont;
  color: $fontColor;
}

.font-huge, .font-med, .font-small {
  font-family: textFont;
  color: $fontColor;
}

.huge, .font-huge {
  font-size: 33px;
  margin: 0 auto;
}

.medium, .font-medium {
  font-size: 23px;
  margin: 0 auto;
}

.small, .font-small {
  font-size: 13px;
  margin: 0 auto;
}

p {
  font-family: textFont;
  color: $fontColor;
  font-weight: bold;
}

.screen-main {
  border: 5px solid $fontColor;
  min-width: 150vh;
  min-height: 80vh;
}

.start-screen-containter {
  width: 100%;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.job-tracker-form-container {
  width: 100%;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-screen-header {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 40px 0px;
  // justify-content: center;
}

.sections-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.job-tracker-section, .job-journal-section, .job-interview-section {
  width: 200px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-card-image:hover {
  background-color: $fontColor;
  cursor: pointer;
}

.job-card-image {
  min-width: 150px;
  min-height: 150px;
  border: 5px solid $fontColor;
}

.job-hunter-png-container {
  width: 80%;
  text-align: center;
}

.job-hunter-png {
  width:20%;
  margin-bottom: 20px;
}

// JOB TRACKER FORM

.job-tracker-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.job-tracker-select-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  select {
    margin: 10px 0px;
    padding: 5px;
    width: 150px;
    background-color: $bgColor;
    border: 1px solid $fontColor;
  }
}

.job-tracker-relevance-select, .job-tracker-status-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  outline: none;
}


.input-bar {
  font-family: textFont;
  background-color: $bgColor;
  border: 3px solid $fontColor;
  height: 19px;
  width: 90vh;
  outline: none;
  padding: 5px 15px;
}

.job-tracker-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}



